<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="AvalaraAuth" value="userNameOrEmail;Password"/>
    <add key="AvalaraApp" value="APPName;1.0"/>

    --><!--For Sandbox--><!--
    <add key="AvaTaxEnvironment" value="0"/>

    --><!--For Production--><!--
    --><!--<add key="AvaTaxEnvironment" value="1"/> -->
    <!--Avalara Configuration-->
    <add key="AvalaraAuth" value="terry.buckley@lakeshoredata.com;k33H3Ou^O4EY"/>
    <add key="AvalaraApp" value="MyTestApp;1.0"/>

    <!--For Sandbox-->
    <add key="AvaTaxEnvironment" value="0"/>

    <!--For Production-->
    <!--<add key="AvaTaxEnvironment" value="1"/> -->
  </appSettings>
</configuration>